/*********** MAIN STYLES FOR APP **********/

#login-panel, #login-panel .panel-heading {
    background-color:transparent;
    border-color: transparent;
    box-shadow: none;
}

.page-title {
    color: #231F20;
    font-size: 25px;
    font-family: Helvetica;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight:300;
}

.top-nav {
    background-color: #e4e6e7;
    height: 22px;
    display: inline-block;
    z-index: 1001;
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: rgba(0,0,0,.4);
    margin-bottom: 0;
}

.navbar .text-left img, .navbar .text-left a {
    float: left;
    margin-top: 10px;
}

.navbar .text-right img, .navbar .text-right a  {
    float: right;
}

.logo-placeholder {
    display: block;
    height: 82px;
    padding: 30px 38px;
    color: #989898;
    margin-top: 5px;
    margin-left: 12px;
    width: 150px;
    font-size: 14px;
    background-image: url('../images/Company-Logo-Filler.png');
    text-align: center;
}

.custom-select {
    overflow: hidden;
    width: 100%;
    background-image: url('../images/icons/Down-Black-Arrow.png');
    background-position: 96% center;
    background-repeat: no-repeat;
    background-size: 25px;
    margin: 3px 0 15px;
}

.custom-select.small {
    background-position: 90% center;
}

.custom-select.small select {
    padding-right: 40px;
}

.custom-select.gray {
    background-color: #e4ece7;
}

.custom-select.gray select {
    color: #555 !important;
}


.custom-select select {
    box-shadow: none;
    width: 110%;
    height: 36px;
    border: 0;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: left;
    padding-left: 10px;
    padding-right: 60px;
    color: #000;
    font-size: 18px;
    margin: 0;
}

.custom-select select:focus {
    outline: 0;
}


.custom-select.left {
    background-position: 0;
    opacity: 0.5;
}


.custom-select.left select {
    padding-left: 25px;
    height: 31px;
    line-height: 23px;
}

.row-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-size: 16px;
}

.top-nav .nav-menu {
    height: 24px;
    line-height: 24px;
}

.top-nav .nav-menu a {
    display: inline-block;
    padding-left: 0;
    height: 12px;
    background-position: left 2px;
    background-repeat: no-repeat;
    background-size: 20px;
    color: #5f5d5e;
    font-size: 12px;
    line-height: 12px;
    padding-right: 10px;
    margin-right: 7px;
    border-right: 1px solid rgb(77,77,77);
}

.top-nav .nav-menu a:last-of-type {
    border-right: 0;
}

.top-nav .nav-menu.pull-left a {
    display: inline-block;
    padding-left: 0;
    height: auto;
    background: none;
    color: #5f5d5e;
    font-size: 12px;
    margin-left: 0;
}

.top-nav .nav-menu.pull-left a button {
    background-color: transparent;
    border: 0;
    height: 22px;
    padding: 0 5px;
}

.top-nav .nav-menu a.settings {
    background-image: url('../images/icons/Settings.png');
}

.top-nav .nav-menu a.schedule {
    background-image: url('../images/icons/Schedule.png');
}

.top-nav .nav-menu a.logout {
    padding-left: 22px;
    background-image: url('../images/icons/Logout.png');
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    max-height: 250px !important;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

#plans .item {
    border-right: 1px solid #ccc;
}

#plans .item h1 {
    margin-bottom: 5px;
    font-weight: 300;
    margin-top: 15px;
}

#plans .item a {
    padding: 4px 9px;
    color: #cf2982;
    font-size: 14px;
    border: 1px solid #cf2982;
    display: inline-block;
}

#plans .item .content {
    width: 100%;
    margin-bottom: 4px;
    float: left;
}

#plans .item p {
    color: #cf2982;
    font-size: 14px;
}

#plans .item h1 {
    color: #cf2982;
    font-size: 16px;
}

#plansModal .modal-title {
    text-align: left;
    font-size: 16px;
}


#plans .item.active {
    color: #008085;
}

#plans .item.active a , #plans .item.active h1 , #plans .item.active p {
    color: #008085;
    border-color: #008085;
}

#activeUser {
    color: #cf2982;
}

#footer a {
    color: rgb(51,51,51);
    font-weight: 300;
}

.info-icon {
    background: url('../images/info.png');
    height: 12px;
    width: 12px;
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-bottom: -2px;
}