
.modal-body input, .modal-body textarea,.modal-body select {
    margin-bottom: 2px;
}
.modal-body input, .modal-body textarea,.modal-body select, .modal-body {
    font-size: 12px;
    line-height: 16px;
}
.bootstrap-select > .dropdown-toggle {
    padding: 0 7px;
    height:24px;
    line-height:24px;
    padding-right: 10px;
    border: 0;
    border-radius: 0;
    font-size: 15px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    width: 18px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 18px !important;
    margin: 0 !important;
    height: 18px !important;
    border: 0 !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 12px;
    line-height: 24px;
}
.modal-body .col-md-6 , .modal-body .col-md-12 {
    margin-bottom: 8px;
}
.date-picker-wrapper {
    background-color: transparent;
    border: 0;
}
.date-picker-wrapper .month-wrapper table {
    padding: 20px;
    width: 50% !important;
}
.date-picker-wrapper .month-wrapper table:first-child {
    border-right: 1px solid #ccc;
    width: 50% !important;
}
.date-picker-wrapper.no-shortcuts {
    width: 100%;
    box-sizing: border-box;
}
.date-picker-wrapper .month-wrapper {
    width: 100% !important;
    border: transparent;
    background-color: #F5F5F5;
}
.date-picker-wrapper .month-wrapper table .day {
    padding: 6px 6px;
    font-size: 11px;
    font-family: Helvetica;
    border-radius: 50%;
    margin: 2px;
    height: 24px;
    width: 24px;
}
.date-picker-wrapper .month-wrapper table, .date-picker-wrapper .month-wrapper table.month2 {
    display: block;
    padding: 20px;
    width: auto !important;
}
.date-picker-wrapper .month-wrapper table, .date-picker-wrapper .month-wrapper table.month2 {
    padding: 0 20px 5px 20px;
}
.date-picker-wrapper .month-wrapper table th {
    font-size: 14px;
}

.date-picker-wrapper .month-wrapper table th, .date-picker-wrapper .month-wrapper table td {
    vertical-align: middle;
    text-align: center;
    line-height: 14px;
    margin: 0px;
    padding: 0px;
    color: #5D5D5D;
    text-transform: capitalize;
    font-family: Helvetica;
    font-weight: normal;
}

#leave-modal .month1 {
    padding: 0 10px 5px 20px;
}

#leave-modal .month2 {
    padding: 0 20px 5px 10px;
    float: right;
}

#leave-modal .link-icon {
    width: 18px;
    height: 18px;
}

#leave-modal .bootstrap-select > .dropdown-toggle {
    background-color: #F5F5F5 !important;
    padding: 5px 20px 3px 7px;
}

.date-picker-wrapper.no-shortcuts {
    padding-bottom: 5px;
}

.ui-datepicker {
    z-index: 1051 !important;
    background-color: rgb(230, 229, 230);
}

.date-picker-wrapper .month-wrapper table th {
    padding: 3px 0 0;
}
.date-picker-wrapper {
    padding: 0;
}
.date-picker-wrapper .gap {
    display: none;
}
.slim-select .dropdown-toggle {
    padding: 3px 7px;
    padding-right: 30px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    height: auto;
}
.slim-select .dropdown-menu>li>a {
    font-size: 12px;
}

.calendar-header {
    overflow: hidden;
    height: 715px;
    min-height: 715px !important;
}
#add-task-bt {
    position: absolute;
}

.form-control {
    font-size: 15px;
    margin-top: 0;
}
#add-task-bt {
    cursor: pointer;
}
.modal-footer .btn + .btn , .modal-footer .btn , .modal-footer .btn:hover {
    margin-bottom: 0;
    margin-left: 5px;
    font-weight: 300;
    font-family: Helvetica;
    font-style: normal;
    margin-top: 0;
    height: 16px;
    line-height: 16px;
}

.dropdown-menu.open, .dropdown-menu.inner {
    max-height: 250px !important;
}

hr {
    margin-top: 5px;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgb(230, 229, 230);
    width: 100%;
    float: left;
}

.dropdown-menu {
    z-index: 1001;
}

.table-bordered td,
.table-bordered th {
    padding:1px 5px;
}

#currentDay {
    background-color: #e4e6e7;
    margin-bottom: 0;
    background-position: 92% center;
    padding-right: 23px;
    background-size: 17px auto !important;
    background-repeat: no-repeat;
    background-image: url(../images/icons/Down-Black-Arrow.png);
    width: 100%;
    height: 24px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 24px;
    width: 100px;
}

@-moz-document url-prefix() {
    #currentDay {
        padding: 6px 6px 0;
    }
}

.modal .gray {
    background-color: #e4e6e7;
    padding-top: 5px;

}

.modal  .gray input[type=text] {
    background-color: #f8f8f8 !important;
    color: #868686;
}

.leaves-table h4, .leaves-table th {
    font-weight : 300;
}

.leaves-table {
    font-size: 14px;
    font-weight : 300;
}

.leaves-table tr {
    border: 0;
    border-top: 1px solid #999
}

.leaves-table tr:first-child {
    border-top: 0
}

#sidebar-keys .bootstrap-select > .dropdown-toggle {
    padding: 5px 7px 4px;
    padding-right: 20px;
}

#sidebar-keys {
    min-height: 300px;
}

.week-sidebar {
    width: 182px;
}

.mCSB_scrollTools {
    right: 2px !important;
    z-index: 100 !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgb(0, 157, 156) !important;
}

.modal-body, .modal-header, .modal-footer {
    padding-right: 12px !important;
    padding-left: 12px !important;
}

/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {*/
    /*color: #bf1c73 !important;*/
/*}*/

.bootstrap-select.slim-select .bs-caret {
    margin-left: -6px !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #cccccc !important;
    opacity: 1;
    color: #909090;
}