
.modal-body input, .modal-body textarea,.modal-body select {
    margin-bottom: 0;
}
.bootstrap-select > .dropdown-toggle {
    padding: 3px 7px 0;
    padding-right: 10px;
    border: 0;
    border-radius: 0;
    font-size: 15px;
    height: auto;
}
.modal-body .col-md-6 , .modal-body .col-md-12 {
    margin-bottom: 7px;
}
.date-picker-wrapper {
    background-color: transparent;
    border: 0;
}
.date-picker-wrapper .month-wrapper table {
    padding: 20px;
    width: 50% !important;
}
.date-picker-wrapper .month-wrapper table:first-child {
    border-right: 1px solid #ccc;
    width: 50% !important;
}
.date-picker-wrapper.no-shortcuts {
    width: 100%;
    box-sizing: border-box;
}
.date-picker-wrapper .month-wrapper {
    width: 100% !important;
    border: transparent;
    background-color: #F5F5F5;
}
.date-picker-wrapper .month-wrapper table .day {
    padding: 4px 7px;
    font-size: 13px;
    font-family: sans-serif;
}
.date-picker-wrapper .month-wrapper table, .date-picker-wrapper .month-wrapper table.month2 {
    display: block;
    padding: 20px;
    width: auto !important;
}
.date-picker-wrapper .month-wrapper table, .date-picker-wrapper .month-wrapper table.month2 {
    padding: 0 20px 5px 20px;
}
.date-picker-wrapper .month-wrapper table th {
    font-size: 15px;
}

.date-picker-wrapper .month-wrapper table th, .date-picker-wrapper .month-wrapper table td {
    vertical-align: middle;
    text-align: center;
    line-height: 14px;
    margin: 0px;
    padding: 0px;
    color: #5D5D5D;
    text-transform: capitalize;
    font-family: nudin-medium;
}
.date-picker-wrapper .month-wrapper table th {
    padding: 3px 0;
}
.date-picker-wrapper {
    padding: 0;
}
.slim-select .dropdown-toggle {
    padding: 3px 7px;
    padding-right: 30px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    height: auto;

}
.dropdown-menu {
    z-index: 10001;
}

.slim-select .dropdown-menu>li>a {
    font-size: 15px;
}
#week-calendar .day-stats .progressbar-text {
    font-size: 20px !important;
}
.calendar-header {
    overflow: hidden;
    height: 715px;
}
#add-task-bt {
    position: absolute;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    line-height: 25px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    background-position: center 5px;
}
.ui-datepicker {
    z-index: 1051 !important;
    background-color: rgb(230, 229, 230);
}

.calendar  .actions .icons a {
    display: none;
}

.calendar .details .collapse-icon.collapsed {
    top: 4px;
    right: 2px;
}
.calendar .details .collapse-icon {
    top: 6px;
    right: 4px;
}


#currentDay {
    background-color: rgb(230,230,230);
    margin-bottom: 0;
    background-position: 92% center;
    padding-right: 23px;
    background-size: 17px auto !important;
    background-repeat: no-repeat;
    background-image: url(../images/icons/Down-Black-Arrow.png);
    width: 100%;
    height: 24px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 24px;
    width: 100px;
}

.modal-body, .modal-header, .modal-footer {
    padding-right: 12px !important;
    padding-left: 12px !important;
}

.inactive-layer .form {
    display: none !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgb(0, 157, 156) !important;
}

.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools {
    z-index: 9999;
}


.modal-holder .modal {
    text-align: center;
    padding: 0!important;
}

.modal-holder .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-holder .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#week-calendar .scroller::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 8px;
}

#week-calendar .scroller::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #009D9C;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#globalAlert {
    top: 700px;
}


.ui-datepicker-current-day {
    background-color: #ccc !important;
}

.ui-datepicker-current-day a {
    color : #000 !important;
}

.ui-datepicker-today {
    background-color: #ce229a !important;
}

.ui-datepicker-today a {
    color : #fff !important;
}
