.left-sidebar {
    padding-top: 10px;
    padding-right: 0;
}

.list-top {
    float: left;
    margin-bottom: 0;
    width: 100%;
    padding-right: 4px;
    padding-top: 4px;
    height: 60px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.list-top .tinyLabel {
    font-size: 12px;
    float: left;
}

#viewModal .list-top {
    height: 41px;
    font-size: 15px;
    border-top: 1px solid #999999;
    background-color: #ececec;
    text-align: left;
    padding-left: 10px;
    line-height: 39px;
}

#viewModal .dates .month {
    margin-top: 3px;
    margin-bottom: 5px;
}

.year-nav {
    position: absolute;
    height: 17px;
    width: 16px;
    top: 0;
    background-size: 12px auto;
    background-repeat: no-repeat;
    cursor: pointer !important;
    background-position: center;
}

#prevYear {
    left:0;
    background-image: url(../images/icons/Left-White-Arrow.png);
}

#nextYear {
    right: 0;
    background-image: url(../images/icons/Right-White-Arrow.png);
}

#week-calendar
.sidebar .break {
    border-top: 1px solid #ccc;
    padding-top: 18px;
    margin-top: 22px;
}

#week-calendar .scroller {
    overflow-x: scroll;
    border-left: 1px solid rgb(77,77,77);
    border-right: 1px solid rgb(77,77,77);
}

#week-calendar .scroller.noscroll {
    overflow: hidden;
}

.dates {
    bottom: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
}

.dates li {
    float: left;
    /*margin-right: 20px;*/
}

.dates li:last-child {
    border-right: 1px solid #ccc;
    /*margin-right: 20px;*/
}

#embeddedYear {
    border-right: 1px solid #999999;
}

#embeddedYear .dates li:last-child {
}

#embeddedYear .scroller {
    overflow: scroll;
}

div.scrollWrapper {
    border-right: 1px solid rgba(0,0,0,0.2);
}

#viewModal .dates li {
    float: left;
    margin: 0;
    background-repeat: repeat-y;
    background-position: left top;
    font-size: 11px;
    color: #999999 !important;
}

#viewModal .dates .days li {
    background-image: none;
}

#viewModal .dates .days li:first-child {
    background-image: url('../images/gray.jpg');
    background-repeat: repeat-y;
    background-position: 2px top;
}

#viewModal .dates .days:first-child li {
    background-image: none;
}

#viewModal .dates li:first-child {
    background-image: none;
}

.date-top {
    width: 100%;
    float: left;
    margin-bottom: 0;
    height: 42px;
    border-bottom: 1px solid #999999;
}

.dates .days li {
    width: 50px;
    height: 19px;
    float: left;
    text-align: center;
    font-size: 12px;
    padding: 3px 0;
    font-family: Helvetica;
    margin: 0;
    line-height:13px;
    color: #999999;
}

.dates .month {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Helvetica;
    float: left;
    width: 100%;
    line-height: 16px;
    margin: 0;
    height: 22px;
    margin: 0;
    color: #999999;
    display: block;
    font-size: 12px;
    position: relative;
    z-index: 100;
    padding-top: 3px;
}

#viewModal .dates .month {
    height: 13px;
    padding-top: 0px;
}

#viewModal .details {
    font-size: 12px;
    color: #008085;
    padding: 6px 10px;
}

#viewModal .details .info {
    height: 22px;
    line-height: 22px;
}


.dates .week {
    text-align: center;
    color: #909090;
    font-size: 12px;
    font-family: Helvetica;
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    line-height: 23px;
    height: 20px;
}

.bootstrap-select > .dropdown-toggle {
    font-size: 20px;
}

.list-top .btn-default {
    background-color: #E6E6E6 !important;
}

.bg-gray {
    background-color: #ccc !important;
}

.stages {
    width: 100%;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: relative;
    background-image: url('../images/calendar-linex250.png');
    background-position: left center;
}

.stages:hover {
    outline-color: red;
}

.stages.blank {
    height: 40px;
}

.stages li {
    width: 60px;
    height: 20px;
    float: left;
    border-right: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    opacity: 0.8;
    position: absolute;
}

#project-list, #stage-list-modal {
    border-right: 1px solid #999999;
    margin-bottom: 0;
}

#project-list {
    float: left;
    width: 100%;
    margin-top: -1px;
}


#stage-list-modal {
    border-right: 0;
    margin-bottom: 0;
}

#stage-modal-bars {
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: #ccc;
}

#project-list li, #stage-list-modal li {
    width: 100%;
    display: inline-block;
    float: left;
    border-top: 1px solid #999999;
    height: 20px;
    overflow: hidden;
    padding-left: 0;
}

#project-list li {
    border-top: 1px solid rgba(0,0,0,0.2);
}


#project-list li:first-child {
    border-top: 0;
}

#project-list li:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}

#stage-list-modal li {
    width: 100%;
    display: inline-block;
    float: left;
    border-right: 1px solid #999999;
    border-bottom: 0;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    padding-left: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 0;
}

#project-list li:last-child {
    padding-bottom: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 0;
}

#stage-list-modal li:last-child {
    padding-bottom: 0;
    border-top: 0;
    height: 21px;
}

#viewModal .gridster:last-child {
    border-bottom: 0;
}

#viewModal .gridster .filler {
    height: 20px;
    float: left;
}

#viewModal .gridster ul {
    float: left;
}

#viewModal .gridster {
    width: 100%;
    border: 0;
    background-image: url(../images/gray-20x100.png);
    background-color: #ececec;
    border-bottom: 1px solid #ccc;
}

#project-list li a, #stage-list-modal li a {
    color: #4c4c4c;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    display: block;
}

#project-list li a:hover, #stage-list-modal a:hover {
    text-decoration: none;
}

#project-list .category {
    display: block;
    padding-bottom: 0;
    padding-top: 19px;
    height: 40px;
    text-transform: uppercase;
    color: #cf2982;
    padding-left: 0;
}

#project-list .category a {
    color: #cf2982;
    line-height: 26px;
}

#project-list .stages li {
    margin: 10px 0;
    height: 20px;
    position: absolute;
    opacity: .7;
}

.side-form {
    font-size: 12px;
    line-height: 12px;
}

.side-form h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 5px;
}

.side-form input,select,textarea {
    background-color: #fff;
    height: auto;
    margin-bottom: 0;
}

.side-form .color-circle , .client-color-circle {
    display: inline-block;
    width: 10px;
    height:10px;
    border-radius: 50%;
}

.client-color {
    line-height: 19px;
    height: 16px;
    text-align: right;
    float: right;
}

.client-color span {
    float: none !important;
}

.side-form p {
    margin-bottom: 3px;
    margin-top: 12px;
}

.side-form .hours {
    width: 65px;
    float: left;
}

.side-form .form-control {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}

.side-form .assignHour {
    line-height: 25px;
}

.side-form .assignHour p {
    margin-top: 0;
    margin-bottom: 0;
}

.col-head {
    color: #008085;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
}

.side-form .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    display: block;
    vertical-align: middle;
}

input[type=number] {
    background-position: 93% center;
    padding-right: 16px;
    background-size: 18px auto !important;
    background-repeat: no-repeat;
    /*background-image: url('../images/icons/Down-Black-Arrow.png');*/
}


input[type=number].small {
    background-position: 95% center;
}

.caretize .caret {
    background-image: url('../images/icons/Down-Black-Arrow.png') !important;
}

.caretize.tiny .filter-option {
    width: 76% !important;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.side-form .project-start {
    background-position: 97% center;
    padding-right: 23px;
    background-size: 18px auto !important;
    background-repeat: no-repeat;
    background-image: url('../images/icons/Down-Black-Arrow.png');
}

.side-form .bootstrap-select.btn-group .dropdown-toggle .caret {
    background-position: 97% center;
    padding-right: 16px;
    background-size: 18px auto !important;
    background-repeat: no-repeat;
    background-image: url('../images/icons/Down-Black-Arrow.png');
}

.side-form .project-end {
    background-image: none;
}

.side-form input[type=submit] {
    background-color: transparent;
}

.side-form .custom-select.small {
    background-position: 97% center;
}

.side-form .custom-select select {
    height: 32px;
}

.side-form .custom-select.gray {
    background-color: #FFFFFF;
}

.comiseo-daterangepicker-triggerbutton.ui-button {
    opacity: 0;
    position: absolute;
    top: 0;
}

#viewModal .gridster {
    max-height: 20px !important;
    opacity:1 !important;
}
#viewModal .gridster ul {
    max-height: 20px !important;
    height: 20px !important;
    border-bottom:1px solid rgba(0,0,0,0.2);
    background-image: url(../images/gray-20x100.png);
    background-position: right top;
}
#viewModal .gridster:last-child ul {
    border-bottom:0;
}

#viewModal .gridster .gs-w {
    opacity: .6;
}

#viewModal .gridster,.gridster ul {
    /*width: 7340px !important;*/
}
#viewModal .dates .days li {
    width: 20px;
    height: 20px;
    border:0;
    color: #7A7983;
}

#viewModal .date-top {
    height: 40px;
    background-color: #ececec;
}

#viewModal .dates {
    width: 100%;
}

#viewModal .scroller {
    margin-left: -3px;
    padding-bottom: 14px;
}

.scrollableArea * {
    /*width: 3300px !important;*/
    /* If you don't want the images in the scroller to be selectable, try the following
        block of code. It's just a nice feature that prevent the images from
        accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#viewModal .scrollableArea {
    /*width: 7500px !important;*/
}

.ui-front {
    z-index: 11111 !important;
}

.preview-holder {
    height: 0 !important;
}



.modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.modal-body {
    padding: 0;
    /*display: inline-block;*/
}

.detail-sheet {
    line-height: 14px !important;
}

.detail-sheet .form-group {
    width: 100%;
    display: inline-block;
}

.detail-sheet .form-group div {
    float: left;
    font-size: 12px;
    line-height: 19px;
}


.detail-sheet .form-group .label {
    float: left;
    color: #008085;
    padding: 0;
    padding-right: 5px;
    font-weight: normal;
}

.confirmation-modal .modal-body {
    padding: 10px;
    /*display: inline-block;*/
}
.confirmation-modal .modal-dialog {
    width: 300px;
    text-align: center;
}

.confirmation-modal .modal-footer {
    text-align: center;
    padding-top: 0;
}

.confirmation-modal .modal-footer .btn.confirm {
    border-right: 1px solid #ccc;
}

.modal-footer {
    padding: 10px 20px;
    text-align: right;
    border-top: 0;
    background-color: #fff;
}


.modal-footer button:last-child {
}

.top-header .year {
    text-align: center;
    background-color: #999999;
    font-size: 12px;
    color: #fff;
    padding: 0;
    height: 18px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 0;
}


/***************************************** WEEK VIEW *****************************************/

#employees.collapsible {
    background-color: #e4e6e7;
    /*background-color: rgb(245,245,245);*/
    padding: 8px;
}

#employees.collapsible .users {
    border-bottom: 1px solid #ccc;
    padding-left: 12px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#employees.collapsible .users:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.collapsible button {
    border: 0;
    width: 100%;
    text-align: left;
    color: #000;
    box-shadow: none;
    padding: 0;
    line-height: 18px;
    font-size: 12px;
    background-color: transparent;
}

.collapsible button.collapsed {
    background-image: url('../images/icons/Right-Black-Arrow.png');
    background-size: 13px auto !important;
}

.collapsible a {
    border: 0;
    width: 100%;
    text-align: left;
    color: rgb(77,77,77);
    box-shadow: none;
    padding: 0 10px 0 0;
    line-height: 18px;
    font-size: 12px;
    display: inline-block;
    float: left;
}


#stage-legend , .stage-legend {
    color: #fff;
    background-position: center 5px;
    background-repeat: no-repeat;
    /* background-image: url('../images/icons/Double-Up-Arrow.png'); */
    background-size: 26px auto;
    font-size: 12px;
    float: left;
    width: 100%;
    margin-top: 15px;
    padding: 0 !important;
}
#stage-legend {
    margin-top: 0;
}

#stage-legend .a , .stage-legend a {
    font-family: Helvetica;
    padding: 2x 0;
    float: left;
    margin: 1px 0;
    width: 100%;
    color: #4c4c4c;
}
#stage-legend .a span , .stage-legend a span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
}

#stage-legend .a p , .stage-legend .a p {
    float: right;
    width: 90%;
    text-align: left;
    margin-bottom: 0;
}


#employees .collapsible a:hover {
    color: #fff !important;
}

.collapsible.list button.collapsed {
    border: 0;
    display: inline-block;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 10px auto !important;
    background-position: 96% center;
    padding-right: 23px;
    background-size: 10px auto !important;
    background-image: url('../images/icons/Right-Black-Arrow.png');
}


.collapsible.list button {
    font-size: 15px;
    color: #989494;
    border: 0;
    width: auto;
    padding-right: 28px;
    background-color: transparent;
    background-size: 19px auto !important;
    padding-left: 0;
}


.collapsible.list a {
    width: 100%;
    text-align: left;
    color: #878597;
    background-color: transparent;
    border-bottom: 0;
    box-shadow: none;
    padding: 4px 8px;
    padding-left: 0;
    line-height: 18px;
    display: inline-block;
}

.collapsible.list b {
    text-transform: uppercase;
    font-weight: normal;
    color: #009d9c;
}


#week-sidebar-left .clients li {
    color: #fff;
    font-size: 15px;
    margin: 2px 0;
    padding: 3px 6px 0
}



#left-sidebar-scroll .break {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 20px;
}



#left-sidebar-scroll {
    min-height: 600px;
}


#employees a.active {
    font-family: Helvetica;
    color: #cf2982;
}

#projectStages a {
    color: inherit;
}
.week-sidebar h3 {
    margin: 10px 0 3px 0;
    color: #cf2982;
    line-height: 19px;
    font-size: 16px;
    font-weight: normal;
}

.week-sidebar h3 a {
    color: #009D9C;
}

.week-sidebar h3.ul {
    /*border-bottom: 1px solid #009D9C;*/
}

.blue-header {

}

#week-calendar {
    width: 100%;
    min-height: 500px;
    float: left;
}

#week-calendar .scrollerpad {
    width: 100%;
    height: 10px;
    background-color: #fff;
    position: relative;
    z-index: 1000;
}

#week-calendar .column:last-child .weekDay,#week-calendar .column:last-child .day-tasks,#week-calendar .column:last-child .bott  {
    border-right: 0;
}

.top-header .top.clearfix {
    position: relative;
    z-index:1000;
    background-color: #fff;
}


.top-header .top a {
    color: #cf2982;
    line-height: 14px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #cf2982;
    padding: 3px 13px;
    border-radius: 15px;
    background-color: transparent;
}


#week-calendar .past {
    opacity: 1;
    position: relative;
}

#week-calendar .past ul {
    padding-top: 0 !important;
}

#week-calendar .past.leave {
    /*opacity: 1;*/
}

#week-calendar .inactive-layer {
    display: none;
}


#week-calendar .past .inactive-layer {
    position: absolute;
    width: 179px;
    height: 597px;
    background-color: #cecece;
    z-index: 1012;
    display: block;
    margin-top: 36px;
}


#week-calendar .past .text, #week-calendar .past .day-stats .label, #week-calendar .past .view-comment-bt {
    color: #777;
}

#week-calendar .past .vertBar  {
    border-color: #777;
}

#week-calendar .past .vertBar .bar {
    background-color: #777;
}

#week-calendar .push {
    font-size: 20px;
    font-weight: 300;
}

#week-calendar button.push {
    font-size: 14px;
    font-weight: 300;
}

#week-calendar .past .inactive-layer div.push {
    display: none;
    width: 100%;
}

#week-calendar .past .inactive-layer.leave {
    background-color: rgba(0,0,0,0.2) !important;
    z-index: 1021 !important;
}

#week-calendar .past .inactive-layer.leave .push {
    display: block !important;
}

#week-calendar .day-tasks.past {
    /*position: absolute;*/
    /*height: 1000px;*/
    z-index: 1013;
}

#week-calendar .past .day-stats {
    z-index: 1000;
    background-color: #E4E6E8;
}

#week-calendar .past li {
    width: 100%;
}

#week-calendar .past li.closed {
    width: 100%;
}

#week-calendar .weekDay {
    color: rgb(77,77,77);
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    z-index:1015;
    text-align: center;
    float: left;
    padding: 4px 0;
    background-color: #E4E6E8;
    border-right: 1px solid rgb(77,77,77);
    border-bottom: 1px solid #c6c6c6;
}

#week-calendar .weekDayNum {
    color: rgb(77,77,77);
    line-height: 14px;
    font-size: 12px;
    font-family: Helvetica;
    text-align: center;
}

#week-calendar .mCSB_container {
    z-index:90;
}

#week-calendar .day-tasks ul {
    width: 100%;
    min-height: 470px;
    float: left;
    margin: 0;
    box-sizing: border-box;
    display: block;
}

#week-calendar .past ul {
    opacity:.3;
}

#week-calendar .day-tasks {
    height: 470px;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    border-right: 1px solid rgb(77,77,77);
    box-sizing: border-box;
    position: relative;
}

#week-calendar .past .details {
}

#week-calendar .past  .icon {
    border-color: #ccc;
}

#week-calendar .past .complete .icon {
    color: #fff !Important;
}

#week-calendar .past .completed  .icon {
    background-color: #ccc !Important;
    color: #fff !Important;
}

#week-calendar ul:hover {
    /*background-color: rgba(60, 186, 255,0.1);*/
}

#week-calendar ul:last-child {
}

#week-calendar ul.hover-drag {
    background-color: rgba(60, 186, 255,0.1);
}

#week-calendar .progress, #week-calendar .progressHours {
    position: relative;
    float: left!important;
    width: 100%;
    box-shadow: none !important;
    background-color: transparent !important;
    margin-bottom: 0;
}

#week-calendar .day-stats .label {
    display: block;
    width: 100%;
    text-align: center;
    color: #009D9C;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: normal;
    padding: 8px 10px;
    padding-top: 0;
    margin-top: 8px;
}

#week-calendar .day-stats.pie .label {
    padding-bottom: 12px;
}

#week-calendar .day-stats .progressbar-text {
    font-size: 14px !important;
    font-family: Helvetica !important;
    font-weight: normal !important;
    line-height: 30px;
}

#week-calendar .day-stats {
    position: relative;
    z-index:100;
    height: 110px;
    background-color: #fff;
    width: 50%;
    margin-top: 7px;
    margin-bottom: 7px;
}

#week-calendar .divider {
    border-top: 1px solid rgb(235,235,235);
    float: left;
    width: 100%;
}


#week-calendar .day-stats.pie {
    border-right: 1px solid rgb(235,235,235);
}


#week-calendar .day-stats.pie .cover {
    margin-left: 20px !important;
    border: 1px solid rgb(235,235,235);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
}

.chart-pie {
    top: -2px;
    height: 45px !important;
    width: 45px !important;
    margin-left: 20px;
}

#sickLeaveLink {
    float: left;
    line-height: 19px;
    font-size: 16px;
    color: #C11F76;
}

.sickLeaveLink {
    display: block;
    padding-left: 29px;
    background-image: url('../images/icons/Leave-Icon.png');
    background-repeat: no-repeat;
    float: right;
    background-size: 22px auto;
    font-size: 21px;
    color: #C11F76;
    font-weight: normal;
    margin-top: 5px;
}

#week-calendar .mCSB_container,#week-calendar  .mCustomScrollBox , #right-sidebar-scroll .mCSB_container,#right-sidebar-scroll .mCustomScrollBox {
    overflow: visible !important;
}

/*.calendar-header {*/
/*height: 970px !important;*/
/*}*/

/*#left-sidebar-scroll {*/
/*max-height: 970px;*/
/*height: 970px;*/
/*}*/

/*#right-sidebar-scroll {*/
/*max-height: 985px;*/
/*}*/

.week-sidebar.right {
}

#right-sidebar-scroll{
    min-height: 50px;
}

.week-sidebar.right .menu {
    z-index: 1000;
    background-color: #fff;
    position: relative;
    margin-top: 10px;
}


.week-sidebar.right h3 {
    z-index: 1000;
    background-color: #fff;
    position: relative;
    margin: 15px 0;
}


.week-sidebar.right .menu span {
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    float: left;
    width: 100%;
}

.day-stats .holder {
    padding: 0 24px 0;
    width: 100%;
    margin-top: 5px;
}

.day-stats .holder .cover {
    border: 1px solid rgb(235,235,235);
    width: 100%;
    padding: 2px;
}


.day-stats .text {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #009D9C;
    font-size: 14px;
    padding-top: 5px;
    font-weight: normal;
}

.pie .text {
    padding-top: 2px !important;
}

.vertBar {
    width: 100%;
    height: 35px;
    /* position: absolute; */
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding: 0 !important;
    border-radius:0;
}

.vertBar .bar {
    width: 100%;
    height: 0;
    background-color: #009D9C;
    position: absolute;
    bottom: 0;
}
.mCSB_inside > .mCSB_container {
    margin-right: 5px !important;
}

.mCSB_scrollTools {
    width: 3px !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgb(230, 229, 230) !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent !important;
}

.scrollCover {
    position: relative;
    z-index: 1000;
    background-color: #fff;
}

#tasksList {
    padding: 0;
}

#tasksList:before {
    content : 'None';
    position: absolute;
    z-index: 1;
}

#tasksList li {
    width: 100%;
    padding: 8px;
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
    background-color: #fff !important;
    z-index: 2;
}

#tasksList .icon {
    width: 35px;
    box-sizing: border-box;
    padding: 10px 5px 3px;
    font-size: 12px;
    line-height: 29px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-family: Helvetica;
}

#tasksList .details {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    color: rgb(77,77,77);
    position: relative;
    z-index:2;
    padding-bottom: 3px;
}

#tasksList .color-bg {
    background-color: #9495a4 !important;
    position: absolute;
    width: 100%;
    height: 100px;
    opacity: .13;
    top: 0;
    left: 0;
    z-index: 1;
}

#tasksList .details span {
    width: 100%;
    line-height: 15px;
    display: block;
}


#tasksList .details .key {
    font-weight: bold !important;
}

#tasksList .details .title {
    font-size: 12px;
    font-weight: normal !important;
    float: left;
    line-height: 15px;
}

#tasksList .details .time {
    font-weight: 500;
    font-family: Helvetica;
    /*font-family: radikal;*/
    font-size: 12px;
}

#tasksList .details .notes {
    font-weight: normal;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    max-height: 12px;
    overflow: hidden;
}

#tasksList .action {
    width: 100%;
    position: relative;
    z-index:2;
    font-size: 12px;
    line-height: 20px;
    padding-top: 1px;
}
#tasksList .action img {
    margin-top: 3px;
    float: right;
    margin-left: 3px;
}

#tasksList div {
    float: left;
}

#create-task-modal .bootstrap-select.medium .dropdown-toggle {
    padding-right: 15px;
}

.urgentImage {
    margin-top: -5px !important;
}

.urgentRadio {
    opacity: 0;
    margin-left: -27px !important;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-top: 5px;
    top: 5px;
    position: relative;
}

#add-task-bt {
    float: left;
    min-height: 40px;
    width: 98%;
    background-color: #ccc !important;
    margin-bottom: 1px;
    top: -8px;
}

#add-task-bt div {
    float: left;
    min-height: 40px;
}

#add-task-bt .icon {
    width: 35px;
    box-sizing: border-box;
    padding: 1px 8px;
    font-size: 47px;
    line-height: 40px;
    color: #fff;
}

#add-task-bt .details {
    font-size: 16px;
    padding: 10px 8px;
    color: #fff;
    border-left: 1px solid #fff;
    line-height: 20px;
    width:140px;
}

#add-task-bt .title {
    line-height: 25px;
}

.calendar .mCustomScrollBox, .calendar .mCSB_container {
    width: 100%;
}

.calendar .comments a {
    display: inline-block;
    color: #ccc;
}

.calendar .comments a.hasComments {
    color: #cf2982;
}

.calendar .comments {
    text-align: center;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid rgb(235,235,235);
}

.calendar .bott {
    padding: 7px;
    border-right: 1px solid rgb(77,77,77);
    background-color: #fff;
    z-index: 1020;
    position: relative;
    padding: 0 !important;
    /*border-top: 3px solid #FFF;*/
}


.past .bott {
    padding: 7px;
    border-right: 1px solid rgb(77,77,77);
    background-color: #E4E6E8;
    z-index: 1020;
    position: relative;
    padding-top: 0 !important;
}

.past .day-stats {
    background-color: #d6d6d6;
}

.calendar ul {
    padding: 0;
    width: 100%;
}

.calendar li {
    width: 100%;
    position: relative;
    z-index: 1000;
    margin-top:3px;
    display: block;
    overflow: hidden;
    padding: 10px 8px;
}

.calendar li:first-child {
    margin-top: 0;
}

.calendar li .color-bg {
    position: absolute;
    width: 100%;
    height: 100px;
    opacity: .13;
    top: 0;
    left: 0;
    z-index: 1;
}

.calendar li .time-icon {
    margin: 5px 0 0 5px;
    display: none;
}

.calendar .dragscroll {
    overflow: scroll;
}

/*.calendar .details .time*/
/*.calendar .details .title*/
/*.calendar .closed .actions {*/
/*display: none;*/
/*}*/

/*.calendar .closed .details span {*/
/*line-height: 25px;*/
/*}*/

/*.calendar .closed .details .time {*/
/*!*margin-left: 33px;*!*/
/*line-height: 0;*/
/*margin-top: 3px;*/
/*}*/

/*.calendar .closed .actions {*/
/*display: none;*/
/*}*/

.calendar .icon {
    font-family: Helvetica;
    box-sizing: border-box;
    padding: 0;
    line-height: 30px;
    color: rgb(77,77,77);
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 50%;
    height: 12px;
    min-height: 12px;
    width: 12px;
    display: block;
    font-size: 9px;
    text-transform: uppercase;
    margin-right: 3px;
    position: relative;
    z-index:200;
}

.calendar .title {
    max-width: 145px;
}


.calendar .user-task-icon {
    float: left;
    width:100%;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    position: relative;
    z-index: 200;
}

.calendar .closed .details {
}

.calendar .details {
    width: 100%;
    float: left;
    padding-right: 0;
    color: rgb(77,77,77);
    margin-left: 0;
    margin-bottom: 1px;
    margin-top: 2px;

}

.calendar .details .time {
    width: 50%;
    float: left;
    margin-top: 4px;
}

.calendar .details span {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    display: block;
    font-family: Helvetica;
    font-weight: normal;
}


.calendar .details .title {
    font-size: 12px;
    line-height: 15px;
    float: left;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    height: 15px;
}

.calendar .icons {
    margin-top: 5px;
}

.calendar .icons:hover {
    cursor: pointer;
}

.calendar  .actions,.calendar  .notes {
    min-height: 0;
    width: 100%;
    float: left;
    position: relative;
    z-index:200;
}

.calendar  .notes {
    display: none;
}

.calendar  .actions,.calendar  .notes span {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 3px;
}

.calendar  .actions,.calendar  .notes span {
    border:0;
}

.calendar  .actions {
    line-height: 20px;
    float: right;
    width: 50%;
    margin: 0;
}

.calendar  .actions .icons {
    margin-top: 0;
    line-height: 18px;
}

.calendar  .actions .icons img {
    margin-left: 2px;
    display: inline-block;
}

.calendar  div {
    float: left;
}


.calendar .column.past {
    min-height: 515px;
}

.calendar .ui-sortable::before {
    content: "Drag & drop tasks here";
    width: 100%;
    padding: 0 40px;
    background-color: transparent !important;
    position: absolute;
    text-align: center !important;
    font-size: 12px;
    color: #A4A4A4;
    line-height: 15px;
    padding-top: 10px;
    left: 0;
}

.calendar .ui-sortable.past {
    background-color: #F3F3F3;
}

#date-error {
    display: none;
}

#filters .bootstrap-select {
    float: left;
    width:100%;
    margin-bottom: 2px;
}

#filters .bootstrap-select .btn-default {
    padding-right: 35px;
    font-size: 15px;
}

#filters .bootstrap-select .btn-default {
    padding-right: 20px;
    margin-bottom: 3px;
}

#filters .bootstrap-select .dropdown-menu>li>a {
    font-size: 14px;
}

.btn.border-right , .btn.border-right:hover {
    border-right: 1px solid rgb(150,150,150) !important;
    padding-right: 13px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 12px;
    padding-left: 12px;
}

.row {
    margin-right: -12px;
    margin-left: -12px;
}

#leave-modal .date-picker-wrapper table .caption .next {
    position: absolute;
    right: 2px;
    top:80px;
}

#leave-modal .date-picker-wrapper table .caption .prev {
    position: absolute;
    left: 2px;
    top:80px;
}

#leave-modal .date-picker-wrapper table .caption .prev:hover, #leave-modal .date-picker-wrapper table .caption .next:hover {
    color: #5D5D5D;
    background-color: transparent;
}

.push-all {
    position: absolute !important;
    width: 100%;
    height: 381px;
    z-index: 1003;
    color: #fff;
    padding-top: 200px;
    box-sizing: border-box;
    text-align: center;
}

.push-all button {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ccc;
    font-family: Helvetica;
    font-size: 12px;
    margin: 14px auto;
    border-radius: 6px;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 10px;
    line-height: 14px;
}

.push-all h3 {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    padding: 0 10px;
}

.push-all h2 {
    font-size: 25px;
    padding: 0 10px;
    font-weight: normal;
}

.calendar-loader {
    position: absolute;
    width: 100%;
    height: 300%;
    background-color: rgba(0,0,0,0.5);
    z-index:10;
}

.comiseo-daterangepicker-buttonpanel .ui-button-text-only .ui-button-text {
    margin-top: 0;
    font-size: 12px;
}

.jconfirm .jconfirm-box div.title-c .title {

}

.date-picker-wrapper table .caption {
    height: 25px !important;
    line-height: 16px !important;
    font-size: 15px !important;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 !important;
    text-align: center;
    background-color: #777777;
    color: #fff !important;
    padding: 6px 3px 3px;
}

.caption .month-name {
    color: #fff !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
}

.date-picker-wrapper .week-name th {
    padding-top: 10px !important;
}

.form-group {
    margin-bottom: 0;
}

.date-picker-wrapper .month-wrapper table .day.checked {
    background-color: #009d9c !important;
    color: #fff !important;
}

.ui-menu .ui-menu-item {
    font-size: 12px;
}

textarea#commentBox {
    background-color: #e6e5e6;
    width: 100%;
    resize: none;
    padding: 15px;
    font-size: 12px;
}

#currentLeaves {
    font-size: 12px;
    line-height: 15px;
    font-family: Helvetica;
}

#viewTaskUrgency {
    background-image: url('../images/icons/Star-Empty.png');
    display: block;
    float: right;
    height: 19px;
    width: 19px;
    background-repeat: no-repeat;
    background-size: 19px auto;
    background-position: center;
}

#viewTaskUrgency.active {
    background-image: url('../images/icons/Star-Full.png');
}

#week-calendar .scrollable {
    overflow: hidden;
}

#todayCircle {
    width: 5px;
    height: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius:50%;
    background-color: #cf2982;
    display: inline-block;
    margin-left: -5px;
    margin-right: 4px;
    margin-bottom: 2px;
}

.new_format .close , .new_key .close {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 0;
    right: 0;
    background-image: url(../images/icons/Close-Pink.png);
    background-size: 9px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.partial-leave {
    position: absolute !important;
    bottom: 0;
    padding: 0 !important;
    line-height: 24px;
    box-sizing: border-box;
    height: 24px;
    background-color: #009d9c !important;
    color: #e9e9e9;
    width: 100%;
    z-index: 1000;
}

.partial-leave .title {
    width: 100%;
}

#week-calendar .loader {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 380px;
    z-index: 1050;
    opacity: .5;
    top: 0;
    background-image: url('../images/ripple.svg');
    background-size: 60px auto;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.past .day-stats .holder .cover {
    border: 1px solid #c6c6c6 !important;;
}
.past .day-stats.pie .cover {
    border: 1px solid #c6c6c6 !important;;
}

.past .day-stats.pie {
    border-right: 1px solid #949494 !important;;
}

.past .comments {
    border-top: 1px solid #c6c6c6 !important;
}
.past .divider {
    border-top: 1px solid #c6c6c6 !important;
}
.past .weekDay {
    background-color: #E4E6E8 !important;
}
.past .day-tasks {
    background-color: #E4E6E8 !important;
}

#week-calendar .past .day-tasks {
}