
.gridster li {
    border: 1px solid #ccc;
    color: #fff;
    line-height: 30px;
}
.gs-resize-handle {
    background-color: #717171;
    width: 2px;
    float: right;
    height: 20px;
    margin-top: 0px !important;
}
.gs-resize-handle-x {
    right: -1px;
}
.gridster * {
    margin:0;
    padding:0;
    padding-left: 2px;
}

ul {
    list-style-type: none;
}

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: #fff;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}

.gridster {
    margin: 0 auto;
    opacity: .8;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
    border-bottom: 1px solid #000;
}


.gridster:last-child {
    border-bottom: 0;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
    margin: 0;
    font-size: 12px;
    font-family: Helvetica !important;
    font-weight: 300;
    line-height: 20px;
}

.gridster .player {
    background: #BBB;
}

.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.clientData .sp-replacer {
    position:absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 3px;
    border: 0;
    background: #fff;
}
.sp-dd {
    display: none;
}
.sp-preview {
    margin-right: 0;
    height: 27px;
}
.link-color {
    color: #009d9c;
    font-family: Helvetica;
    font-size: 18px;
}

.link-color.left-teal:hover {
    color: #009d9c !important;
}

.project-title {
    margin-top: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 4px;
    font-family: Helvetica;
    font-weight: 300;
    color: #636363;
}
#project_name {
    margin-bottom: 10px;
    font-weight:300;
    color: #636363;
}
.side-form .form-control {
    background-color: #FFFFFF !important;
}

.dropdown-menu>li>a {
    padding: 4px 10px !important;
    line-height: 13px !important;
    color: #4c4c4c !important;
    font-size: 13px !important;
}


.bootstrap-select.btn-group .dropdown-toggle .caret {
    width: 18px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 13px !important;
    margin: 0 !important;
    margin-left: -9px !important;
    height: 13px !important;
    border: 0 !important;
}

.side-form .form-control, .side-form .bootstrap-select > .dropdown-toggle {
    background-color: #e4e6e7 !important;
}


.side-form .bootstrap-select > .dropdown-toggle {
    padding: 3px 20px 3px 6px;
}

#projectStages .viewStagesLink {
    border-right: 0;
}
.list-top .btn-default {
    background-color: #e4e6e7 !important;
    padding-right: 20px;
    padding-left: 10px;
}
.ui-priority-secondary {
    display: none;
}
.ui-helper-clearfix {
    text-align: center;
}
.comiseo-daterangepicker-left .comiseo-daterangepicker-buttonpanel {
    float: none;
}
.comiseo-daterangepicker-left .comiseo-daterangepicker-buttonpanel > button {
    font-family: Helvetica !important;
    font-weight: 300;
    margin-top: 0;
}
.ui-datepicker .ui-datepicker-prev {
    position: absolute;
    left: -30px;
    top: 80px;
}
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    right: -30px;
    top: 80px;
}
.ui-datepicker.ui-datepicker-multi {
    padding: 0;
}

.comiseo-daterangepicker {
    padding: 5px 30px !important;
}
.comiseo-daterangepicker-left .comiseo-daterangepicker-calendar {
    padding-left: 7px !important;
}
.ui-datepicker th {
    padding: 3px .3em;
    font-size: 10px;
    font-weight: 300;
}

.comiseo-daterangepicker-left .comiseo-daterangepicker-presets, .ui-button-text-only .ui-button-text {
    padding: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: 300;
}
.ui-datepicker td a {
    font-size: 14px;
    line-height: 13px;
}

.h3, h3 {
    font-size: 20px;
    font-weight:300;
}
/*.side-form,.plan-project,.add-project * {*/
/*font-family:nudin-regular;*/
/*}*/
.list-top .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #999;
    font-size: 12px;
}

.delete.modal , #deleteModal{
    z-index: 9999;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color: #fff !important;
    background-color: #bf1c73 !important;
}