/*********** GLOBAL STYLES FOR THE WHOLE APP **********/

body {
    font-weight: normal !important;
}

.container { width: @container-desktop !important; }

a:hover,a:focus {
    text-decoration: none !important;
}

.btn.active, .btn:active,.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default  {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.padding-t-0 {
    padding-top: 0 !important;
}

.padding-b-0 {
    padding-bottom: 0;
}

.padding-l-0 {
    padding-left: 0;
}

.margin-b-0 {
    margin-bottom: 0 !important;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-t-n10 {
    margin-top: -10px !important;
}

.relative {
    position: relative;
}

.t-black {
    color: #231F20 !important;
}

.t-pink {
    color: #cf2982 !important;
}


.dnone {
    display: none;
}

.all-caps {
    text-transform: uppercase !important;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* close commented backslash hack */

.float-none {
    float: none !important;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.width-full {
    width: 100%;
}

.t24 {
    height:17px;
    line-height: 17px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.text-capitalize { text-transform: capitalize; }
.text-middle { vertical-align: middle; }

.no-padding { padding: 0 !important; }
.no-top-pad { padding-top: 0 !important; }
.no-right-pad { padding-right: 0 !important; }
.no-bottom-pad { padding-bottom: 0 !important; }
.no-left-pad { padding-left: 0 !important; }


.padding-0 {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.padding-tb-0 { padding-top: 0; padding-bottom: 0;  }
.padding-tb-5 { padding-top: 5px; padding-bottom: 5px;  }
.padding-tb-7 { padding-top: 7px; padding-bottom: 7px;  }
.padding-tb-8 { padding-top: 8px; padding-bottom: 8px;  }
.padding-tb-10 { padding-top: 10px; padding-bottom: 10px;  }
.padding-tb-14 { padding-top: 14px; padding-bottom: 14px;  }
.padding-tb-20 { padding-top: 20px; padding-bottom: 20px;  }
.padding-tb-30 { padding-top: 30px; padding-bottom: 30px;  }

.padding-lr-5 { padding-left: 5px; padding-right: 5px;  }
.padding-lr-7 { padding-left: 7px; padding-right: 7px;  }
.padding-lr-10 { padding-left: 10px; padding-right: 10px;  }
.padding-lr-20 { padding-left: 20px; padding-right: 20px;  }
.padding-lr-30 { padding-left: 30px; padding-right: 30px;  }

.padding-t-20 { padding-top: 20px;}
.padding-b-20 { padding-bottom: 20px;}
.padding-r-20 { padding-right: 20px;}
.padding-l-20 { padding-left: 20px;}
.padding-l-35 { padding-left: 35px;}
.padding-l-55 { padding-left: 52px;}
.padding-t-10 { padding-top: 10px;}
.padding-t-12 { padding-top: 12px;}
.padding-r-6 { padding-right: 6px;}
.padding-t-20 { padding-top: 20px;}
.padding-t-30 { padding-top: 30px;}
.padding-t-40 { padding-top: 40px;}
.padding-b-10 { padding-bottom: 10px;}
.padding-r-10 { padding-right: 10px;}
.padding-r-7 { padding-right: 7px;}
.padding-l-10 { padding-left: 10px;}
.padding-t-4 { padding-top: 4px !important;}
.padding-t-5 { padding-top: 5px;}
.padding-b-3 { padding-bottom: 3px;}
.padding-b-4 { padding-bottom: 4px;}
.padding-b-5 { padding-bottom: 5px;}
.padding-b-7 { padding-bottom: 7px;}
.padding-b-8 { padding-bottom: 8px;}
.padding-r-5 { padding-right: 5px !important;}
.padding-l-5 { padding-left: 5px;}
.padding-l-7 { padding-left: 7px;}
.padding-t-0 { padding-top: 0;}
.padding-b-0 { padding-bottom: 0 !important;}
.padding-r-0 { padding-right: 0 !important;}
.padding-l-0 { padding-left: 0 !important;}

.padding-5 { padding: 5px; }
.padding-7 { padding: 7px; }
.padding-10 { padding: 10px !important; }
.padding-12 { padding: 12px !important; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }
.padding-40 { padding: 40px; }


.margin-tb-0 { margin-top: 0; margin-bottom: 0;  }
.margin-tb-4 { margin-top: 4px; margin-bottom: 4px;  }
.margin-tb-5 { margin-top: 5px; margin-bottom: 5px;  }
.margin-tb-10 { margin-top: 10px; margin-bottom: 10px;  }
.margin-tb-20 { margin-top: 20px; margin-bottom: 20px;  }
.margin-rl-5 { margin-right: 5px; margin-left: 5px; }
.margin-rl-10 { margin-right: 10px; margin-right: 10px; }
.margin-rl-20 { margin-right: 20px; margin-right: 20px; }
.margin-t-3 { margin-top: 3px;}
.margin-t-4 { margin-top: 4px;}
.margin-t-8 { margin-top: 8px;}
.margin-t-12 { margin-top: 12px;}
.margin-t-15 { margin-top: 15px;}
.margin-t-20 { margin-top: 20px !important;}
.margin-t-30 { margin-top: 30px;}
.margin-t-40 { margin-top: 40px;}
.margin-t-80 { margin-top: 80px;}
.margin-b-3 { margin-bottom: 3px !important;}
.margin-b-4 { margin-bottom: 4px !important;}
.margin-b-7 { margin-bottom: 7px !important;}
.margin-b-12 { margin-bottom: 12px !important;}
.margin-b-15 { margin-bottom: 15px !important;}
.margin-b-20 { margin-bottom: 20px !important;}
.margin-b-30 { margin-bottom: 30px}
.margin-r-20 { margin-right: 20px;}
.margin-l-20 { margin-left: 20px;}
.margin-t-10 { margin-top: 10px;}
.margin-t-7 { margin-top: 7px;}
.margin-b-10 { margin-bottom: 10px;}
.margin-b-7 { margin-bottom: 7px !important;}
.margin-r-10 { margin-right: 10px;}
.margin-l-10 { margin-left: 10px;}
.margin-t-5 { margin-top: 5px !important; }
.margin-b-5 { margin-bottom: 5px;}
.margin-r-5 { margin-right: 5px;}
.margin-l-5 { margin-left: 5px;}
.margin-t-0 { margin-top: 0 !important;}
.margin-b-0 { margin-bottom: 0 !important;}
.margin-r-0 { margin-right: 0;}
.margin-l-0 { margin-left: 0;}

.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-30 { margin: 30px; }
.margin-40 { margin: 40px; }

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }

.align-top { vertical-align: top; }

.font-8 { font-size: 8px !important; }
.font-9 { font-size: 9px !important; }
.font-10 { font-size: 10px !important; }
.font-11 { font-size: 11px !important; }
.font-12 { font-size: 12px !important; }
.font-14 { font-size: 14px !important; }
.font-15 { font-size: 15px !important; }
.font-18 { font-size: 18px !important; }
.font-20 { font-size: 21px !important; }
.font-21 { font-size: 21px !important; }
.font-22 { font-size: 22px !important; }
.font-24 { font-size: 24px !important; }
.font-28 { font-size: 28px !important; }
.font-30 { font-size: 30px !important; }

.referenceText {
    font-size: 12px !important;
    color: #4C4C4C;
}

.line-height-14 {
    line-height: 14px;
}

.line-height-22 {
    line-height: 22px;
}

.line-height-17 {
    line-height: 17px;
}

.line-height-28 {
    line-height: 28px;
}

.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 1; }

.temp-hide { display: none; }

.h-link { font-size: 14px; }
.show {
    display: block !important;
}

img {
    max-width: 100%;
}
.border-left { border-left: 1px solid #003256; }
.border-left-light { border-left: 1px solid rgba(0,0,0,0.1);  }
.border-right { border-right: 1px solid #003256; }
.border-right.gray { border-right: 1px solid #A2A2A2; }
.border-right-gray { border-right: 1px solid #ccc !important; }
.border-bottom-gray { border-bottom: 1px solid #ccc; }
.border-top-gray { border-top: 1px solid #ccc; }
.border-right-light { border-right:1px solid rgba(0,0,0,0.1) !important; }
.border-light { border-color: rgba(0,0,0,0.1) !important; }
.border-bottom {
    border-bottom: 1px solid #003256;
}
.border-bottom-light {
    border-bottom: 1px solid #989898;
}
.border-top-light {
    border-top: 1px solid #989898;
}
.border-bottom-very-light {
    border-bottom: 1px solid #E6E6E6;
}
.border-top {
    border-top: 1px solid;
}
.no-border { border: 0 !important; box-shadow: none !important; }

.btn {
    border-radius: 0;
}

ul { 
    list-style: none;
    padding: 0;
}

#globalAlert {
    z-index: 10001;
    position: fixed;
    font-size: 16px;
    text-align: center;
    opacity:0;
    padding: 20px;
    height: auto !important;
    top: -150%;
    border-radius: 0 !important;
    line-height: 20px;
    font-weight:300;
    right: 50%;
    margin-right: -85px;
}

#globalAlert.alert-success {
    background-color: #fff !important;
    color: rgb(0, 157, 156);
    border-color: rgb(0,157,156);
}


#globalAlert.alert-danger {
    background-color: #fff !important;
    color: #a94442 !important;
    border: 1px solid #a94442 !important;
}

.container .modal-body input[type=text],.container .modal-body input[type=number], .container .modal-body textarea, .container .modal-body select {
    background-color: #F1F1F1;
    /*padding: 3px 10px;*/
}

.container .modal-body * {
    /*font-style: italic;*/
}

.container .modal-body .form-group {
    margin-bottom: 0
}
.container .modal-body .bootstrap-select {
    margin-top: 0
}
.container .modal-body .bootstrap-select > .dropdown-toggle{
    padding-right: 0;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    font-size:15px;
    font-weight: 300;
    margin-top: 3px
}
input[type="radio"] + label span {
    display:inline-block;
    width: 22px;
    height: 22px;
    margin:-5px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}

input[type="radio"] + label span {
    background-color: #ccc;
}

input[type="radio"]:checked + label span{
    background-color: #2972C2;
    border: 2px solid #ccc;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.2s linear;
  -o-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
}

.link-bt {
    background-color: transparent;
    border: 0;
}

.link-color {
    color: #337ab7; 
}

.link-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

.link-divider {
    display: inline-block;
    width: 1px;
    margin: 0 3px;
    height: 18px;
    background-color: #ccc;
}

.col-user .link-icon {
    float: left;
    margin-right: 3px;
    width: 22px;
    height: 22px;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

.col-user .link-divider {
    float: left;
    width: 1px;
    margin-right: 8px;
    height: 18px;
    background-color: #ccc;
}

.col-user .toggle-user {
    margin-top: 3px;
    width: auto;
}

.col-user .last-login {
    font-size: 12px;
    line-height: 22px;
    margin-left: 0;
    display: inline-block;
}

.delete-icon {
    background-image: url(../images/icons/Close-Pink.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.edit-icon {
    background-image: url(../images/icons/Edit-Icon.png);
    background-size: 100% auto;
}

#overlay-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.01);
    display: none;
    z-index: 1025;
    top: 0;
}

#spinner {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    z-index: 1500;
    text-align: center;
    display: none;
}

.spinner {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1018;
    text-align: center;
}

#spinner img, .spinner img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
}

.view-nav {
    display: inline-block;
}

.view-nav li {
    float: left;
}


.view-nav li a {
    border: 1px solid #cf2982;
    color: #cf2982;
    padding: 2px 11px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
}

.view-nav li.active a {
    background-color: #cf2982;
    color: #fff;
}

.view-nav li:first-child a{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.view-nav li:last-child a {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 0;
}

#bottom-nav {
    color: #fff;
    font-family: Helvetica;
    background-position: center 5px;
    background-repeat: no-repeat;
    /* background-image: url('../images/icons/Double-Up-Arrow.png'); */
    background-size: 26px auto;
    font-size: 15px;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

#bottom-nav a {
    padding: 10px 0;
    float: left;
    margin: 1px 0;
    width: 100%;
    color: #cf2982;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

#bottom-nav.reverse {
    /*background-image: url('../images/icons/Double-Down-Arrow.png');*/
    background-size: 24px auto;
}


#search-top::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}

#search-top:-moz-placeholder { /* Firefox 18- */
    color: #999;
    opacity: 1;
}

#search-top::-moz-placeholder {  /* Firefox 19+ */
    color: #999;
    opacity: 1;
}

#search-top:-ms-input-placeholder {
    /*color: #999;*/
    color: #e4e6e7;
    opacity: 1;
}

#search-top {
    background-color: #e4e6e7;
    padding: 4px 10px 0px;
    font-size: 12px;
    padding-right: 35px;
    background-image: url('../images/icons/Search-Icon.png');
    background-position: 97%;
    background-repeat: no-repeat;
    background-size: 15px;
    width: 100%;
    height: 23px;
    color: #999;
}

.collapse-bt {

}

.text-center-important {
    text-align: center !important;
}

.bootstrap-select .btn-default {
    border: 0;
    border-radius: 0;
/*    height: 20px;
    padding: 0 8px;*/
}

button:focus,input[type=submit]:focus {
    outline: none !important;
}

.plus-icon {
    background-image: url('../images/icons/Pink-Plus.png');
    display: block;
    float: right;
    padding-left: 28px;
    color: #cf2982;
    background-repeat: no-repeat;
    font-size: 21px;
    line-height: 24px;
    background-size: 22px;
    cursor: pointer;
}

.dir-arrow.right-teal {
    background-image: url('../images/icons/Right-Teal-Arrow.png');
    padding-right: 21px;
    background-repeat: no-repeat;
    background-position: right !important;
    background-size: 21px;
}

.dir-arrow.left-teal {
    background-image: url('../images/icons/Left-Teal-Arrow.png');
    padding-left: 21px;
    background-repeat: no-repeat;
    background-position: left !important;
    background-size: 21px;
    padding-top: 5px;
}

.dir-arrow.right-pink {
    background-image: url('../images/icons/Right-Pink-Arrow.png');
    padding-right: 21px;
    background-repeat: no-repeat;
    background-position: right !important;
    background-size: 21px;
}

.dir-arrow.left-pink {
    background-image: url('../images/icons/Left-Pink-Arrow.png');
    padding-left: 21px;
    background-repeat: no-repeat;
    background-position: left !important;
    background-size: 21px;
    padding-top: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

i.glyphicon {
    color: #cf2982;
    font-size: 17px;
    float: left;
}

.dropdown-toggle:focus , input:focus, button:focus, select:focus {
    outline: 0 !important;
}

button[disabled], html input[disabled] {
    color: #ccc !important;
}

.circle-list {
    list-style: circle;
    padding-left: 15px;
}

#plansModal .current {
    width: auto;
    background-color: #008085;
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    left: 30px;
    bottom: -10px;
    font-size: 9px;
}

.u-userBackgroundColor {

}

.bootstrap-select > .dropdown-toggle {
    background-color: #e4e6e7 !important;
}