

body {
    font-family: Helvetica;
    background-image: url(../images/login-bg-1.png);;
    background-position: center center;
    background-size: 100% auto !important;
}

@media screen and (max-width: 1236px) {
    body {
        background-size: auto 100% !important;
    }
}

.container {
    width: 1280px !important;
    position: relative;
    min-height: 0 !important;
    height: auto !important;
}

.fa-btn {
    margin-right: 6px;
}

.form-control {
    padding: 5px 5px;
    margin-bottom: 0;
    background-color: #fff !important;
    font-size: 14px;
    vertical-align: middle;
    display: block;
    line-height: 20px;
    height: 28px;
}

.form-group {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 17px;
}

#login-panel, #login-panel .panel-heading {
    margin: 0 auto;
    margin-top: 165px;
    width: 375px;
}

#login-panel a {
    color: #fff;
    font-family: helvetica;
    font-size: 13px;
    padding-top: 0;
    display: inline-block;
    font-weight: 300;
}

#register-panel, #register-panel .panel-heading {
    margin: 0 auto;
    margin-top: 35px;
    background-color: transparent;
    border: 0;
}

#register-panel a {
    color: #fff;
    font-family: helvetica;
    font-size: 13px;
    padding-top: 0;
    display: inline-block;
    font-weight: 300;
}

.btn {
    padding-top: 0;
}

.terms {
    font-family: helvetica;
    font-weight: normal;
    font-size: 13px;
}

#remember {
    margin-top: 0;
    display: inline-block;
    margin-left: 8px;
}

#drop-bt {
    font-weight: normal;
    font-family: helvetica;
    font-size: 16px;
    margin: 1px 0;
    color: #231F20;
    cursor: pointer;
}

.drop-arrow {
    display: block;
    width: 26px;
    height: 15px;
    margin-right: -12px;
    float: left;
    background-size: 11px auto;
    background-position: left center;
    background-repeat: no-repeat;
}

.drop-arrow.inactive {
    background-image: url('../images/icons/Right-Black-Arrow.png');
}

.drop-arrow.active {
    margin-right: 0px;
    float: left;
    background-size: auto 10px;
    background-image: url('../images/icons/Down-Black-Arrow.png');
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent !important;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    outline: 0 !important;
    padding-right: 0;
    font-family: Helvetica;
}

.alert {
    margin-bottom: 8px;
}

hr {
    margin-top: 0;
    margin-bottom: 7px;
    border: 0;
    border-top: 1px solid #eee;
    float: left;
    width: 100%;
}

#register-form {
    height: 0;
    overflow: hidden;
}

.modal-body input {
    background-color: #E6E5E6 !important;
}

.modal-dialog {
    width:350px;
}

.alert {
     background-color: transparent !important;
    padding: 3px !important;
    border-color: transparent !important;
    margin: 0 !important;
}

.link-divider {
    display: inline-block;
    width: 1px;
    margin: 0 3px;
    height: 17px;
    background-color: #fff;
}

#termsModal .modal-body p {
    margin-bottom: 1px;
}