.form-control {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    padding: 0 10px;
}

.form-group {
    margin-bottom: 5px;
}

#logo-input {
    position: absolute;
    height: 175px;
    width: 300px;
    opacity: 0;
    cursor: pointer;
}

#rolesList li {
    margin: 10px 0;
}

#rolesList li img {
	margin-top: -3px
}

.sp-replacer {
    display: block !important;
    margin-top: 0 !important;
    padding: 8px 5px !important;
    background: #F1F1F1 !important;
    border: 0 !important;
}

.sp-preview {
    width: 100% !important;
}

.dept-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-top: 5px;
    border-radius: 50%;
    bottom: -3px;
    position: relative;
    margin-left: 5px;
    margin-right: 20px;
}

input[type="submit"] {
    font-size: 12px;
    padding-left: 0;
    height: 24px;
    line-height: 24px;
    padding: 0;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    margin-top: -2px !important;
}
.bootstrap-select > .dropdown-toggle {
    line-height: 16px;
}

.bootstrap-select {
}

form {
    line-height: 16px;
}

.sp-preview:after {
    content: 'Color';
    padding-left: 14px;
    line-height: 24px;
    display: block;
    height: 24px;
}

.divider-left {
    padding-left: 10px !important;
    border-left: 1px solid #ccc;
}

.divider-left.color-dot span {
    left: 10px;
}

.color-dot {
    color: #fff;
    background-position: center 5px;
    background-repeat: no-repeat;
    background-size: 26px auto;
    font-size: 12px;
    float: left;
    height: 17px;
    width: auto;
    line-height: 17px;
    position: relative;
    padding: 0 10px;
}

.color-dot a {
    font-family: Helvetica;
    float: left;
    width: 100%;
    color: #4c4c4c;
    padding-left: 15px;
}
.color-dot span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    padding-left: 10px;
    float: left;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 0;
}

.link-icon {
    float: left;
    height:17px;
    line-height: 17px;
}

.link-text {
    height:17px;
    line-height: 17px;
    width: auto;
    padding-right: 6px;
    color: #cf2982 !important;
}

.delete-icon {
    background-image: url(../images/icons/Close-Pink.png);
    background-size: 9px;
    background-position: center left;
    background-repeat: no-repeat;
}

.color-label {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.color-label p {
    margin-bottom: 0;
}

.color-label .sp-replacer, .color-label .sp-preview, .color-label .sp-preview:after {
    height: 24px;
    line-height: 24px;
}

.modal-body .bootstrap-select.hours {
    width: 50px !important;
}

.modal-body .bs-caret {
    position: absolute;
    right: 0;
}

.modal-body .work-hours .bs-caret .caret {
    margin-top: -2px !important;
}

.modal-body .work-hours .filter-option {
    float: left !important;
    padding-left: 0;
    padding-right: 20px;
}

.modal-body .work-hours .bootstrap-select {
    float: left !important;
}

.modal-body .work-hours .bootstrap-select > .dropdown-toggle {
    padding-left: 0;
}

.modal-body .work-hours .filter-option {
    float: left !important;
}

.modal-body .work-hours p {
    float: left !important;
    height: 24px;
    line-height: 24px;
    padding-right: 10px;
}

/********** DEPARTMENTS **********/

#departmentsList li {
    float: left;
    width: auto;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#departmentsList li:last-of-type {
    border-bottom: 0;
}

#departmentsList li .form-control {
    float: left;
    width: auto;
    min-width: 60px;
    background-color: transparent !important;
    font-weight: bold;
    padding-left: 0;
    margin-bottom: 0;
}

#departmentsList li .hours {
    width: 45px;
    min-width: 45px;
    padding-right: 7px;
    background-color: #e4e6e7 !important;
    padding: 0 2px;
    height: 24px;
    line-height: 24px;
    font-weight: 300;
    margin-right: 10px;
    background-image: url(../images/icons/Grey-Down-Arrow.png);
    background-repeat: no-repeat;
    background-position: 84% center;
    text-align: center;
    padding-right: 22px;
    background-size: 12px;
}


#departmentsList li .hours .filter-option {
    text-align: center;
}

#departmentsList li .hours .caret {
    width: 20px;
}


#departmentsList li .tiny {
    height: 24px;
    line-height:24px;
}


#departmentsList li .pull-left {
    margin-top: 5px;
}

#departmentsList li .pull-left:first-of-type {
    margin-top: 0;
}

#departmentsList li .tiny .cover {
    position: absolute;
    width: 49px;
    height: 24px;
    z-index: 1000;
}

#departments .row {
    margin-bottom: 15px;
}

#departments .inactive {
    opacity: .5;
}
/***** EMPLOYEES ****/

.col-user img {
    float: left;
    margin-top: 3px;
}

.col-user input {
    float: left;
    width: 300px;
    margin-bottom: 5px;
}

.col-user .pull-left {
    height: 24px;
    line-height: 24px;
    padding-right: 10px;
}

.col-department .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.col-user .pull-left p {
    margin-bottom: 0;
}


/********** PROJECT STAGE **********/

#stageListInternal li, #stageListExternal li  {
    float: left;
    width: 100%;
    font-size: 12px;
    margin-bottom: 7px;
}
#stageListInternal li input, #stageListExternal li input  {
    float: left;
    width: auto;
    min-width: 290px;
}

.drag-handle {
    float: left;
    font-size: 17px;
    margin-top: 0;
    margin-left: -5px;
    color: #a0a0a0;
    cursor: move !important;
    height: 17px;
    line-height: 17px;
}

.drag-handle:hover {
    cursor: move;
}
/********** FORMATS **********/

#formatList li, #clientsList li , #keyList li  , #holidayList li {
    float: left;
    width: 100%;
    margin-bottom: 7px;
}

#formatList li input {
    float: left;
    width: auto;
    min-width: 305px;
}



#footer {
    border-top:1px solid rgba(0,0,0,0.6);
    float: left;
}



.list-with-actions li {
    float: left;
    width: 100%;
}

.list-with-actions li input {
    float: left;
    width: auto;
    min-width: 290px;
}

.modal-header , .modal-footer , .modal-body, .modal-body input, .modal-body select {
    text-align: center;
}

.modal-body .bootstrap-select .filter-option {
    font-size: 12px;
    text-align: center !important;
    background-color: transparent !important;
}

.modal-body {
    padding-bottom: 0;
}

/********* FOOTER ***********/

.navbar-brand {
    display: inline-block;
    float: none;
}

input, select, textarea, .bootstrap-select , .form-control {
    margin-bottom: 10px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    height: 24px !important;
    line-height: 24px !important;
}

.modal-content input[type=submit] {
    float: none;
    margin-top: 0 !important;
}

.modal.delete input {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #e1e1e1;
}

.comiseo-daterangepicker-triggerbutton.ui-button {
    background-color: #e4e6e7 !important;
    height: 24px;
    line-height: 24px !important;
    padding: 0 !important;
    border-radius: 0;
    color: #555 !important;
    margin-bottom: 10px;
}

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding:  0 8px !important;
}

.ui-state-default .ui-icon {
    width: 27px;
    background-image: url(../images/icons/Down-Black-Arrow.png) !important;
    background-position: center 12px;
    background-repeat: no-repeat;
    background-size: 12px;
    margin: 0;
    height: 24px;
    border: 0;
    right: 2px !important;
    top: 6px !important;
}

.ui-front {
    z-index: 9001 !important;
}

.comiseo-daterangepicker-right .comiseo-daterangepicker-buttonpanel > button {
    height: 24px;
}

.width-full .comiseo-daterangepicker-triggerbutton.ui-button {
    width: 100%;
}